<div id="mainTitle">
    

</div>

<div id='info'>
    <h5>Welcome to open display! A website built to have you build your own visual displays that react to sound, visuals and user input.
        <br> Click on the 3 bars on the top left corner to get started!
    </h5>
</div>
