<div id="titleCanvas">
    <p style="display: none;" id="titleName">New User</p>
</div>

<div id="container">
    <form id="newDisplay" method="POST">
        <h3>New User</h3>
        <hr> 
        Your New User Name: <input class="leftIn" type="text" name="usernameSignUp"><br>
        <hr>
        New Password: <input class="leftIn" type="password" name="passwordSignUp"><br>
        <hr>
        <input type="submit" value="Login">
        <input type="reset">
        
    </form>
</div> 
