body{
    background-color: black;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}



/*New Display input form*/
#newDisplay{
    padding: 20px;
    background-color: whitesmoke;
    width: 60%;
    margin: auto;
    margin-top: 100px;
    border: solid 8px darkslategray;
    color: black;
}

#newDisplay .colorInput{
  margin-right: 10%;
}

#newDisplay .leftIn{
  float: right;
}

/*Side Nav woot*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


  /*Title css*/

#title{
  margin: auto;
}

#container{
  margin-top: 120px;
  padding-left: 10%;
  padding-right: 10%;
}

#topCorner{
  display: block;
  position: absolute;
  right: 120px;
  top: 10px;
}

#info{
  text-align: center;
}

.color1{
  width: 33.3%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.color2{
  width: 33.3%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}


.color3{
  width: 33.4%;
  margin: 0px;
  padding: 0px;
  margin: 0 auto;
}

.display{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  width: 22%;
  border: 4px solid whitesmoke;
  margin-left:  5.5%;
  margin-right:  5.5%;
  margin-bottom: 30px;
}

.displayContainer{
  display: inline;
}

.displayName{
  width: 17.2%;
  color: black;
  background-color: whitesmoke;
  text-align: center;
  position: absolute;
}

#plus{
  font-size: 4em;
  width: 100%;
  text-align: center;
}